<html>
    <head>
        <title>Bakero blog</title>
    </head>
<body>
	<diV>
	<h1><a href="#">Welcome to Bakero Blog</a></h1>
	<p>Published on 12.05.2009</p>
	</diV>
	<diV>
	<h2><a href="#">My first post</a></h2>
	We're almost there, now it's time to tell it to save this change in its history. We're going to give it a "commit message" where we describe what we've changed. You can type anything you'd like at this stage, but it's helpful to type something descriptive so that you can remember what you've done in the future.
	</div>
	<diV>
	<h2><a href="#">My Second blog</a></h2>
	Yaaay! But so far, our template only ever displays exactly the same information – whereas earlier we were talking about templates as allowing us to display different information in the same format.

What we really want to do is display real posts added in our Django admin – and that's where we're going next.
	</div>
</body>
</html>